body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: yellow;
  font-family: 'Poppins', sans-serif;;
  font-size: 4rem;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

.logo {
  position: absolute;
  padding: 1%;
  font-size: 2.1rem;
  color: rgb(100, 100, 100)
}

/* implementing this section, takes away the yellow border from body */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(28, 28, 28);
  text-align: left;

  scroll-snap-align: start;
}

.title-page-color {
  position: relative;
  background-color: rgb(200, 200, 200);
}

.fancy-link {
  text-decoration: none;
  position: relative;
}

.fancy-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -20%;
  width: 100%;
  height: 10px;
  background: currentColor;

  transform: scaleX(0.01);
  transform-origin: right;
  transition: transform 250ms ease;
}

.fancy-link:hover::after {
  color: rgb(100, 100, 100);
  transform: scaleX(1);
  transform-origin: left;
}

/* Keeps a constant img size on all screen sizes. */
.gif {
  height: 80%;
}

/* text */
.header-1 {
  /* transform: rotate(-90deg); */
  text-align: right;
  text-align: center;
  color: rgb(214, 173, 214);
}

.page-one-color {
  background-color: white;
}

/* text */
.header-2 {
  /* transform: rotate(-90deg); */
  text-align: left;
  text-align: center;
  color: white;
}

.page-two-color {
  background-color: rgb(255, 210, 205);
}

/* third child of the section */
.header-3 {
  text-align: right;
  text-align: center;
  color: rgb(183, 130, 255);
}

.page-three-color {
  background-color: rgb(205, 250, 255);
}

/* gif is too close to the text */
.page-three-color .gif {
  margin-right: 2%;
}

.header-4 {
  text-align: right;
  text-align: center;
  color: white;
}

.page-four-color {
  background-color: rgb(245, 212, 255);
}

.credits {
  font-size: 1em;
  padding: 2%;
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-color: rgb(100, 100, 100);
  transition: transform 250ms ease;
}

.credits:hover {
  color: rgb(150, 150, 150);
}

/* this element is absolute positioned relative to its parent */
p {
  color: rgb(50, 50, 50);
  position: absolute;
  font-size: 1.5rem;
  bottom: 2%;
  padding-bottom: 1%;
}

.credit-page-color {
  position: relative;
  background-color: rgb(200, 200, 200);
}
